.loader{
    margin: auto;
    width: 32px;
    height: 32px;
    border-radius: 100%;
    border: 2px solid rgba(230, 230, 230);
    --tw-border-opacity: 1;
    border-top-color: rgb(15 23 42 / var(--tw-border-opacity));
    animation: spinner 1s infinite ease-in-out;
}

@keyframes spinner {
    from{
        transform: rotate(0deg);
    } to{
        transform: rotate(360deg);
    }
}